<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add a User</title>
</head>
<body>
  <form action="/new-user" method="post">
    <label>First Name: </label>
    <input id="fn" type="text" name="fname" placeholder="Enter your Firstname..." required><br><br>
    <label>Last Name: </label>
    <input id="ln" type="text" name="lname" placeholder="Enter your Lastname..." required><br><br>
    <label>Phonenumber: </label>
    <input id="ph" type="number" name="phn" placeholder="Enter your phonenumber..." required><br><br>
    <label>Address: </label>
    <input id="ad" type="text" name="addr" placeholder="Enter your Address..." required><br><br>
    <input type="submit">
  </form>
</body>
</html>