<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update a User</title>
</head>
<body>
  <form action="/update/update-user", method="post">
    <label>ID: </label>
    <input type="number", name="id" required><br><br>
    <input type="submit">
  </form>
</body>
</html>